
main{
    margin-top: 100px;
    background-color: #faf5e0;
}

/* ヘッダー */
.header{
    display: flex;
    align-items: center;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: solid 1px #ADADAD;
    padding: 0 24px;
    z-index: 10000;/*ヘッダーが一番上に表示されるように順序を設定*/
    transition: background-color 0.3s linear;
}

.header-logo{
    width: flex;
    margin-left: 80px;
}

.header-nav{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 120px;
}

.header-navList{
    display: flex;
    gap: 80px;
}

.header-navLink{
    color: #b96109;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.1em;
    transition: color 0.3s linear;
    display: flex;
}

/* フッター */
.footer {
    padding-top: 40px 0px 40px;
}
.footer-copyright {
    text-align: center;
    margin-top: 24px;
    border-top: solid 1px;
    color: darkgrey;
    letter-spacing: 0.1em;
    line-height: 1.5;
    font-size: 10px;
    padding: 24px;
}

/* 共通 */
.section {

  /* padding-top: 80px; */
    margin-top: -20px;

}

.section-body {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: relative;
}

.title{
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.title{

    background-color: #e8884d; /* 背景色 */
    color: #fff; /* テキストの色 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* テキストの影 */
    padding: 10px 20px; /* 内側の余白 */
    border-radius: 10px; /* 角丸 */
    margin-top: -20px;

}

.leadItem {
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 26px;
	text-align: center;
}

.leadItem span {
	position: relative;
	z-index: 2;
}

.leadItem::before {
	content: attr(data-en);
	position: absolute;
	top: -15px;
	left: 50%;
	transform: translateX(-50%);
	color: rgba(224,66,114,0.2);
	font-size: 80px;
	font-style: italic;
}

.leadItem::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%) rotate(30deg);
	width: 1px;
	height: 40px;
	background-color: rgba(224,66,114,1);
}

/* メインページ */

.mainVisual{
    height: 650px;
    margin-top: -20px;
    /* position: relative; */
    background-image: url() center center / cover no-repeat;
    display: flex;
    align-items: flex-end;
}
.mainVisual-inner {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}
.mainVisual-head {
    display: inline-flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    /* display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;*/
}
.mainVisual-title{
    background-color: #ffffff00;
    color: #ffffff;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 0.05em;
    font-size: 24px;
    padding-left: 20px;
    padding-right: 4px; 
    /* background-color: #fff;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: .05em;
    font-size: 60px;
    padding-left: 20px; */

}

.mainVisual-lead {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    color: #fff;
}




.square{
    width: 32px;
    height: 32px;
    background-color: chocolate;
    color: #fff;
    text-align: center;
    line-height: 32px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    user-select: none;
    cursor: pointer;
}

.linkButton{
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.linkButton:hover{
    background-color: #0056b3;
}

/* リマインド */


.lecture-list{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.lecture-item{
    display: flex;
    background-color: #b4d1be;
    border-radius: 10px;
    min-height: 324px;
    margin: 0 200px;
    padding: 40px 20px 20px 0;
}

.lecture-item:nth-of-type(odd){
    flex-direction: row-reverse;
}

.lecture-itemImage {
    border-radius: 10px;
    overflow: hidden;
    width: 480px;
    height: 320px;
    flex-shrink: 0;
    /* margin-top: -40px; */
}

/*.lecture-item:nth-of-type(odd) .lecture-itemImage{
    /* margin-right: -40px;
}*/

.lecture-item:nth-of-type(even) .lecture-itemImage{
    margin-left: -40px;
}

.lecture-itemBody {
    padding: 48px 56px;
    width: 100%;
}

.lecture-titleNumber{
    font-weight: bold;
    font-size: 58px;
    color: #ab8424;
    line-height: 1;
    letter-spacing: 0.05em;
    font-family: "Plus Jakarta Sans", sans-serif;
}


.lecture-titleText {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    margin-left: 20px;
    }

.lectureOutline{
    margin-top: 40px;
}

.lecture-description {
    font-weight: 14px;
    line-height: 1.8;
    letter-spacing: 0.05em;
    margin-top: 12px;
}



/* ハッカソンレポ */

.question{
    padding-left: 150px;
    padding-top: 20px;
    font-size: 30px;
}

.winnerInterview-img{
    max-width: 100%;
}

.explain{
    font-size: 20px;
    margin-top: 30px;
}

.winnerQuestion {
    justify-content: center;
}

.winnerName{
    text-align: center;
    font-weight: bold;
}

.winnerComment-box {
    border-collapse: separate;
    border-spacing: 15px 2px;
    display: table;
    margin: 30px 0;
    table-layout: fixed;
    width: 100%;
}
.winner-img {
    display: table-cell;
    vertical-align: top;
    width: 100px;
}
.winner-img img {
    border-radius: 50%;
    width: 100px;
}


.comment{
    font-size: 20px;
}

.winner-talk{
    background-color: rgb(159, 192, 231);
    border-bottom: 1px solid #ddd;
    border-radius: 8px;
    display: inline-block;
    padding: 10px;
    position: relative;
    font-size: 30px;
}
.winner-talk-left:after {
    content: '';
    position: absolute;
    border-right: 12px solid rgb(159, 192, 231);
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    left: -12px;
    top: 12px;

}

.answerbox{
    margin-left: 25%;
}

